<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>repl.it</title>
	<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="app">
		{{message}}
		<ul>
			<li v-for="question in questions">
				{{question.text}}
			</li>
		</ul>

		<button v-on:click="xoaKhoangCach">Xóa khoảng cách của chữ </button>
 <input v-model="message" type="text">
  </div>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
	<script src="/js/app.client.js">
	</script>
</body>
</html>